.jumbotron {
    width: 100%;
    height: 203px;
    left: 0px;
    top: 3167px;

    /* Primary/Blue/100 */

    background: #2C3878;
}

.jumbotron-h4 {
    width: 100%;
    height: 100%;
    left: 120px;
    top: 3208px;

    /* Poppins/SemiBold/36 */

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;


    /* Grayscale/White */

    color: #FFFFFF;
}

.jumbotron-p {
    width: 432px;
    height: 58px;
    left: 888px;
    top: 3205px;

    /* Poppins/Regular/18 */

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    /* or 29px */


    /* Grayscale/Lightray */

    color: #D9D9D9;
}

.jumbotron-btn {
    gap: 10px;


    width: 100px;
    height: 49px;
    left: 888px;
    top: 3283px;

    /* Grayscale/White */

    background: #FFFFFF;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */


    /* Grayscale/50 */

    color: #333333;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.h4-nxting {
    width: 481px;
    height: 122px;
    left: 120px;
    top: 3516px;

    margin-left: 40px;

    /* Poppins/SemiBold/36 */

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 170%;
    /* or 61px */


    /* Grayscale/50 */

    color: #333333;

}

.label-h4 {
    width: 100%;
    margin: 0;

    /* Poppins/Regular/18 */

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    /* identical to box height, or 29px */


    /* Grayscale/50 */

    color: #333333;
}

.follow-p {
    width: 100px;
    height: 26px;
    left: 1117px;
    top: 3616px;

    /* Poppins/Regular/16 */

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    /* identical to box height, or 26px */


    /* Grayscale/50 */

    color: #333333;
}


@media only screen and (max-width: 1024px) {

    .jumbotron-h4 {
        font-family: 'Poppins';
        font-style: normal;
        /* font-weight: 600; */
        font-size: 18px;
    
    
        /* Grayscale/White */
    
        color: #FFFFFF;
    }

    .jumbotron-p {
        width: 100%;
    
        /* Poppins/Regular/18 */
    
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 9px;
        /* or 29px */
    
    
        /* Grayscale/Lightray */
    
        color: #D9D9D9;
    }

    .h4-nxting {
        width: 100%;
        
        
        /* Poppins/SemiBold/36 */
        
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        /* or 61px */
        
        
        /* Grayscale/50 */
        
        color: #333333;
        
        }

        .sm-screen {
            display: contents;
         }

         .sm-screen-b {
            display: table-cell;
         }
}