
* {
    padding:0;
    margin: 0;
}

div h3 {
    /* position: absolute; */

    /* Poppins/Bold/56 */

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 140%;

    /* Grayscale/Black */

    color: #000000;
}

.img-container {
    width: 100%;
    height: 200px;
}

.row-text {
    margin-top: 5%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 140%;
    /* identical to box height, or 34px */


    /* Grayscale/50 */

    color: #333333;
}

.long-p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    /* or 29px */


    /* Grayscale/10 */

    color: #9C9C9C;
}

.down-p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    /* identical to box height, or 29px */

    /* Grayscale/10 */

    color: #9C9C9C;
}

.height-p {
    margin-top: 88px;
    height: 100px !important;
    width: 100%;
    bottom: 0;
}

.img-spacing {
    margin-top: 20px;
    margin-bottom: 20px;
}

@media only screen and (max-width: 1024px) {
    .sm-screen {
        margin: 1px;
        display: contents;
     }
}