

nav .btn-block {
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 14px 32px;
    gap: 10px;

    width: 142px;
    height: 49px;
    left: 1178px;
    top: 42px;

	margin-right: 25px;

    /* Primary/Blue/100 */

    background: #2C3878;
    /* Grayscale/30 */
    color: #FFFFFF;
    font-family: 'Poppins';
    font-style: normal;

    border: 1px solid #3C3C3C;
}

nav a {
	margin-right: 60px;
	color: var(--textColor);
	text-decoration: none;

    left: 606px;
    top: 55px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */


    /* Grayscale/50 */

    color: #333333;
}

nav a.text-bold {

	font-family: 'Poppins';
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 24px;
	/* identical to box height */


	/* Grayscale/50 */

	color: #333333;
}

img {
    margin-left: 25px;
    margin-right: 375px;
}



@media only screen and (max-width: 1024px) {
	header .nav-btn {
		visibility: visible;
		opacity: 1;
	}

    img {
        margin: 0;
    }

	header nav {
		position: fixed;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 1.5rem;
		background-color: var(--mainColor);
		transition: 1s;
		transform: translateY(-100vh);
	}

	header .responsive_nav {
		transform: none;
	}

	nav .nav-close-btn {
		position: absolute;
		top: 2rem;
		right: 2rem;
	}

	nav a {
		font-size: 1.5rem;
	}
}
